@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: auto;
}

button {
  @apply bg-indigo-500 p-2 rounded-lg w-2/5 hover:cursor-pointer;
}

a {
  @apply hover:cursor-pointer hover:underline
}

ul {
  @apply p-4 list-disc
}

ol {
  @apply p-4 list-decimal
}

.card {
  @apply rounded-lg;
}

.tooltip {
  @apply relative inline-block;

  > .tooltiptext {
    @apply invisible text-white text-center rounded-lg p-2 text-sm bg-slate-500 w-24;

    /* Position the tooltip */
    @apply absolute z-10 top-full left-1/2 -ml-14;
  }

  &:hover {
    > .tooltiptext {
      visibility: visible;
    }
  }
}

.box-shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.text-shadow {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 5);
}

.bg {
  background-color: transparent !important;
}

.red {
  @apply bg-red-500 hover:bg-red-200 border-red-500;
}

.blue {
  @apply bg-blue-500 hover:bg-blue-200 border-blue-500;
}

.green {
  @apply bg-green-500 hover:bg-green-200 border-green-500;
}

.orange {
  @apply bg-orange-500 hover:bg-orange-200 border-orange-500;
}

.cyan {
  @apply bg-cyan-500 hover:bg-cyan-200 border-cyan-500;
}

.gray {
  @apply bg-gray-500 hover:bg-gray-200 border-gray-500;
}

.purple {
  @apply bg-purple-500 text-purple-500 hover:bg-purple-200 border-purple-500;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.slide-in {
  animation: slidein 0.5s ease;
  display: flex;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-out {
  animation: slideout 0.5s ease;
  display: flex;
}

@keyframes slideout {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.pop-up {
  animation: popup .3s ease;
  display: flex;
}

@keyframes popup {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.pop-down {
  animation: popdown .3s ease;
  display: flex;
}

@keyframes popdown {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}
